body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que todo esté centrado verticalmente */
}

.container {
    margin-top: 20px;
    padding: 20px;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; /* Añade espacio entre los elementos */
}

#sopa-letras {
    display: grid;
    grid-template-columns: repeat(20, 30px);
    grid-template-rows: repeat(20, 30px);
    gap: 2px;
    justify-self: center;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    font-size: 18px;
    cursor: pointer;
}

.cell.selected {
    background-color: rgb(186, 205, 223);
}

.cell.correct {
    background-color: rgb(155, 225, 152);
}

#word-list-container {
    border: 2px solid #00ce0a;
    padding: 10px;
    background-color: #ffffff;
    max-width: 200px;
    text-align: center;
    border-radius: 15px;
}

#words {
    list-style: none;
    padding: 0;
    margin: 0;
}

#words li {
    margin: 5px 0;
    text-align: center;
}

.check {
    color: green;
    font-weight: bold;
}

/* Estilo de los botones y su contenedor */
#stats-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; /* Centrar botones verticalmente */
}

#stats-container button {
    padding: 10px;
    font-size: 16px;
    cursor: default;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 180px;
    text-align: center;
}
